main{
    margin: 0 auto;
}

#main{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 25rem;
    height: 20rem;
}

.title{
    position: absolute;
    bottom: 15rem;
    left: 0rem;
    width: 15rem;
    height: 3rem;
    background-color: black;
    opacity: 0.5;
}

h1  {
    position: absolute;
    bottom: 14.5rem;
    color: white;
    background-color: transparent;
}

.example-card {
    max-width: 25rem;
    max-height: 35rem;
    margin: 1rem 1rem;
}

.info{
    color: rgb(83, 83, 83);
    font-weight: bold;
    position: relative;
    bottom: 0.4rem;
}

.delete{
    color: red;
}

.menu{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-right: 20rem;
}

.color{
    background-color: rgb(238, 16, 16);
    color: white;
}

.color2{
    display: flex;
    justify-content: center;
    height: 8rem;
    background-color: #efefef;
}

.lapt{
    padding-right: 3rem;
}